<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <log4net>
    <appender name="RollingLogFileAppender" type="log4net.Appender.RollingFileAppender">
      <file value="D:\Logs\TCS\" />
      <appendToFile value="true" />
      <!--按照何種方式產生多個日誌檔案(日期[Date],檔案大小[Size],混合[Composite])-->
      <rollingStyle value="Composite" />
      <datePattern value="yyyy-MM-dd&quot;.log&quot;" />
       <!--每個檔案的大小。只在混合方式與檔案大小方式下使用。超出大小後在所有檔名後自動增加正整數重新命名，數字最大的最早寫入。可用的單位:KB|MB|GB。不要使用小數,否則會一直寫入當前日誌-->
      <maximumFileSize value="3MB" />
      <!--保留的log檔案數量 超過此數量後 自動刪除之前的,設定值value="－1"為不限檔案數-->
      <maxSizeRollBackups value="50" />
      <!--是否只寫到一個檔案中-->
      <staticLogFileName value="false" />
      <PreserveLogFileNameExtension value="true" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date [%thread] %level %logger - %message%newline" />
      </layout>
    </appender>
    <root>
      <!-- 優先權大於設定level的層級會被保留下來-->
      <!-- ALL, DEBUG, INFO, WARN, ERROR, FATAL, OFF -->
      <level value="DEBUG" />
      <appender-ref ref="RollingLogFileAppender" />
    </root>
  </log4net>
</configuration>